In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('customer_churn_data-1.csv')
df

     Gender   Age Payment Method  LastTransaction  Churn
0      male  64.0    credit card             98.0  loyal
1      male  35.0         cheque            118.0  churn
2    female  25.0    credit card            107.0  loyal
3    female  39.0    credit card            177.0    NaN
4      male  39.0    credit card             90.0  loyal
..      ...   ...            ...              ...    ...
991  female  29.0    credit card             33.0  loyal
992    male  84.0    credit card            124.0  loyal
993    male  20.0    credit card             60.0    NaN
994    male  19.0    credit card             49.0  loyal
995  female  24.0    credit card             25.0  loyal

[996 rows x 5 columns]

In [3]:
for col in df.columns :
    print("Total null/empty of column {} = {} from {}".format(col,df[col].isnull().sum(),len(df.index)))

Total null/empty of column Gender = 0 from 996
Total null/empty of column Age = 4 from 996
Total null/empty of column Payment Method = 0 from 996
Total null/empty of column LastTransaction = 0 from 996
Total null/empty of column Churn = 96 from 996

In [4]:
age_mean = df[['Age']].mean().round(1)
df[['Age']] = df[['Age']].fillna(age_mean)

In [5]:
df[['Age']].isna().sum()

Age    0
dtype: int64

In [6]:
#df.dropna()ทางออกฉุกเฉิน
df = df.dropna(subset=['Churn'])
df[['Churn']].isna().sum()

Churn    0
dtype: int64

In [7]:
df.count()

Gender             900
Age                900
Payment Method     900
LastTransaction    900
Churn              900
dtype: int64

In [8]:
df[['Age']] = df[['Age']].astype(int)

/Users/husker.s/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [9]:
df['Gender'].loc[df['Gender'] == 'male'] = 0
df['Gender'].loc[df['Gender'] == 'female'] = 1

df['Payment Method'].loc[df['Payment Method'] == 'cash'] = 1
df['Payment Method'].loc[df['Payment Method'] == 'cheque'] = 2
df['Payment Method'].loc[df['Payment Method'] == 'credit card'] = 3

df

/Users/husker.s/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/Users/husker.s/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/husker.s/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/husker.s/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/husker.s/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/husker.s/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Gender  Age  Payment Method  LastTransaction  Churn
0         0   64               3             98.0  loyal
1         0   35               2            118.0  churn
2         1   25               3            107.0  loyal
4         0   39               3             90.0  loyal
5         1   28               2            189.0  churn
..      ...  ...             ...              ...    ...
990       0   19               3             92.0  loyal
991       1   29               3             33.0  loyal
992       0   84               3            124.0  loyal
994       0   19               3             49.0  loyal
995       1   24               3             25.0  loyal

[900 rows x 5 columns]

In [10]:
X = df.loc[:, "Gender":"LastTransaction"]
y = df[['Churn']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [11]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [12]:
pred = clf.predict(X_test)
score = accuracy_score(y_test, pred)
#score = clf.score(X_test, y_test)
print("Accuracy score is ",score.round(2) * 100,"%")

Accuracy score is  79.0 %

<h2>Save Model</h2>

In [15]:
from joblib import dump

In [18]:
dump(clf, "customer_clftree.joblib")

['customer_clftree.joblib']